/backend/aws/lambda/getMe/node_modules
/backend/aws/lambda/getMe/node_modules
/backend/aws/lambda/getMe/node_modules
/backend/aws/lambda/leaderboard/node_modules
/backend/aws/lambda/postMe/node_modules
/backend/aws/lambda/postSignUp/node_modules
